<div class="countdown">
  <h1 *ngIf="activeUser" [@changeTitleSize]="{value: currentState}" (mouseover)="changeTitleSize()"
    (mouseleave)="changeTitleSize()">
    {{activeUser.participantName}}
  </h1>
  <div class="row timer">
    <app-timer *ngIf="currentScrum" [isCountdown]="true" [timeBurst]="currentScrum.minutesPerGuest"></app-timer>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <button class="btn btn-warning" *ngIf="!wasStarted" (click)="changeScrumState()">Start Scrum!</button>
      <button class="btn btn-warning" *ngIf="wasStarted" (click)="changeScrumState()">{{isRunning ? 'Pause' : 'Resume'}} Scrum!</button>
    </div>
  </div>
</div>
