.welcome-title {
    text-align: center;
    font-family: 'Aclonica';
    margin: 5%;
    font-size: 60px;
    color: #f07c22;
  }

  .initial-title {
    margin-top: 10%;

    span {
      font-family: 'Aclonica';
    }
  }

  * {
    box-sizing: border-box;
  }
  .cool-span {
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    padding-top: 50px;
  }
  .cool-input {
    position: relative;
    margin-top: 5%;
    width: 100%;
    max-width: 280px;
  }
  .cool-input .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  label[target=minutesPerGuest] {
    margin-top: 40%;
  }
  label[target=minutesPerGuest] input {
    text-align: center;
  }
  label[target=name] {
    margin-top: 12%;
  }
  .cool-input .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  .cool-input input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
  }
  .cool-input input:not(:placeholder-shown) + span {
    transform: translateY(-26px) scale(0.75);
  }
  .cool-input input:focus {
    background: none;
    outline: none;
  }
  .cool-input input:focus + span {
    transform: translateY(-26px) scale(0.75);
  }
  .cool-input input:focus + span + .border {
    transform: scaleX(1);
  }

  .btn {
    margin-top: 10%;
  }
  .btn-warning {
    background-color: #f07c22 !important;
    width: 30%;
    font-size: 30px;
    font-family: aclonica;
  }

  .guest-list {
    margin-top: 2%;
    font-family: 'Aclonica';
    color: coral;
    text-transform: capitalize;
  }

  .participants-title {
    h4 {
      margin: 8% 0% 2% 0%;
    }

    span {
      font-size: 17px;
      font-weight: 500;
    }

    span[target=value] {
      margin: 0% 5% 0% 0%;
    }
  }

  .x {
    position: absolute;
    width: 27px;
    height: 27px;
    border: 2px solid #eef5df;
    background-color: #f07c22;
    border-radius: 50%;
    }
  .x::before, .x::after {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 13px;
    height: 3px;
    content: "";
    background-color: #eef5df;
    display: none;
    }
  .x::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
  .x::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
  .x:hover { cursor: pointer; }
  .x:hover::before, .x:hover::after { display: block; }
