<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="welcome-title">
        ¡ Welcome to Scrummed !
      </h1>
    </div>
    <form class="col-lg-12 col-md-12 col-sm-12" [formGroup]="scrumMeetingForm" (ngSubmit)="createScrumMeeting()">
      <aw-wizard>
        <!-- Set meeting Name -->
        <aw-wizard-step stepTitle="Name your meeting">
          <div class="form-group text-center">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                <label for="title" class="cool-input">
                  <input type="text" id="title" placeholder="&nbsp;" autocomplete="off" formControlName="meetingTitle"
                    [ngClass]="{ 'is-invalid': submitted && form.meetingTitle.errors }" />
                  <span class="label">Meeting title</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mt-5 mx-auto text-center">
              <button type="button" class="btn btn-success" awNextStep>Set minutes!!!</button>
            </div>
          </div>
        </aw-wizard-step>
        <!-- Set minutes -->
        <aw-wizard-step stepTitle="Set minutes per guest">
          <div class="form-group text-center">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 text-right cool-span mt-5 pt-3">
                <span>Minutes per guest:</span>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-12 mt-5">
                <label for="minutes" class="cool-input">
                  <input class="text-center" type="number" min="0" id="minutes" autocomplete="off" placeholder="&nbsp;"
                    formControlName="minutesPerGuest"
                    [ngClass]="{ 'is-invalid': submitted && form.minutesPerGuest.errors }" />
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 mt-5 pt-3">
                <input class="styled-checkbox" id="countdown" type="checkbox" formControlName="isCountdown">
                <label for="countdown" class="cool-span">Is countdown?</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-right mt-5">
              <button type="button" class="btn btn-danger" awPreviousStep>Back to title</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-left mt-5">
              <button type="button" class="btn btn-success" awNextStep>Participants!!!</button>
            </div>
          </div>
        </aw-wizard-step>
        <!-- Set meeting participants -->
        <aw-wizard-step stepTitle="Add participants">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 cool-span">
              <h4 class="text-center mt-4">
                Please, include as many participants as you want to your:
                <span
                  style="color: #f07c22;">{{form.meetingTitle.value ? form.meetingTitle.value : '???????????'}}</span>
              </h4>
            </div>
          </div>
          <form [formGroup]="nextParticipant" (ngSubmit)="addParticipant()">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12 text-right mt-4">
                <div class="form-group">
                  <label for="name" class="cool-input">
                    <input type="text" id="name" placeholder="&nbsp;" autocomplete="off" formControlName="participantName"
                      [ngClass]="{ 'is-invalid': pSubmitted && pForm.participantName.errors }" />
                    <span class="label">Participant name</span>
                  </label>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12 mt-4">
                <button class="btn-add-guest">Add him!</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5 participants-title">
              <h4>
                Scrum Participants
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-auto"
              [ngClass]="{'participants-scroll': form.participants.value.length > 5}">
              <div formArrayName="participants">
                <div class="mt-3 mb-3 participants text-center">
                  <table class="table">
                    <thead *ngIf="form.participants.value.length > 0">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Turn</th>
                        <th scope="col">Goes First?</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of scrumMeetingForm.get('participants')['controls']; let i = index;"
                        target="value">
                        <td>{{p.value.participantName}}</td>
                        <td>{{p.value.participantTurn}}</td>
                        <td>{{p.value.isActiveParticipant ? 'Yes!' : 'Nope'}}</td>
                        <td class="x mt-2" (click)="removeParticipant(i)"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-5">
              <button class="btn btn-warning">Create Scrum!</button>
            </div>
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </form>
  </div>
</div>
