<div *ngIf="activeGuest && minutesPerGuest" class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-guest-timer [activeUser]="activeGuest" [minutesPerTurn]="minutesPerGuest" (nextUser)="enableNextUser()">
      </app-guest-timer>
    </div>
    <div class="wrapper">
      <div class="spinner pie" [ngClass]="{'run-animation': isRunning}" [ngStyle]="{'animation-duration': (minutesPerGuest * 59) + 's'}"></div>
      <div class="filler pie" [ngClass]="{'run-animation': isRunning}" [ngStyle]="{'animation-duration': (minutesPerGuest * 59) + 's'}"></div>
      <div class="mask" [ngClass]="{'run-animation': isRunning}" [ngStyle]="{'animation-duration': (minutesPerGuest * 59) + 's'}"></div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <button class="btn btn-warning" *ngIf="!wasStarted" (click)="pauseScrum()">Start Scrum!</button>
    <button class="btn btn-warning" *ngIf="wasStarted" (click)="pauseScrum()">{{isRunning ? 'Pause' : 'Resume'}} Scrum!</button>
  </div>
  <!-- <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="total-title">Total Scrum Meeting Time</h1>
    <div style="margin-left: 20%;">
      <app-timer style="margin-left: 20%;" [isCountdown]="false" [totalTime]="currentScrum.totalTime"></app-timer>
    </div>
  </div> -->
</div>
