@import '~compass-mixins/lib/compass/css3';

.wrapper {
    position: relative;
    margin: 40px auto;
    background: white;
  }

  .wrapper, .wrapper * { @include box-sizing(border-box); }

  .wrapper {
    width: 700px;
    height: 700px;
  }

  .wrapper .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: inherit; // Change this to add background color to the circle
    border: 5px solid rgba(0,0,0,0.5);
    border-color: #08C;
  }

  .wrapper .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota linear infinite;
    animation-play-state: paused;
  }

  .run-animation {
    animation-play-state: running !important;
  }

  .wrapper .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa steps(1,end) infinite reverse;
    animation-play-state: paused;
    border-left: none;
  }

  .wrapper .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 0;
    z-index: 300;
    animation: opa steps(1,end) infinite;
    animation-play-state: paused;
  }

  @keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes opa {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }

.total-title {
  font-family: 'Aclonica';
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  color: #f07c22;
}

.btn-warning {
  background-color: #f07c22 !important;
  width: 30%;
  font-size: 30px;
  font-family: aclonica;
}
