<div class="container">
  <div class="row">
    <!-- <div class="col-lg-3 col-md-3 col-sm-3" style="margin: auto;">
      <app-guest [activeUser]="activeGuest"></app-guest>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-timer [activeUser]="activeGuest" [activeTime]="currentScrum.remainingTime" (nextUser)="enableNextUser()"></app-timer>
    </div>
    <div class="wrapper">
      <div class="spinner pie" [ngStyle]="{'animation-duration': remainingSeconds}"></div>
      <div class="filler pie" [ngStyle]="{'animation-duration': remainingSeconds}"></div>
      <div class="mask" [ngStyle]="{'animation-duration': remainingSeconds}"></div>
    </div>
  </div>
</div>
