@import url(https://fonts.googleapis.com/css?family=Aclonica);

body {
  background-image: url("assets/black_background.jpg");
  background-position: center left;
  background-repeat: no-repeat;
}

.title {
  font-family: "Aclonica";
  color: #f07c22;
  margin: 5%;
}

.welcome {
  font-size: 60px;
}

.welcome-p {
  color: #ffffea;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 7px 7px 10px #1ad1ff;
}

.btn {
  color: white;
}

.btn-warning {
  background-color: #f07c22 !important;
  font-size: 30px;
  font-family: aclonica;
}
.btn-success, .btn-outline-success {
  font-size: 15px;
  font-family: aclonica;
}
.btn-danger {
  font-size: 15px;
  font-family: aclonica;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
