@import url(https://fonts.googleapis.com/css?family=Aclonica);

body {
  background-image: url("assets/black_background.jpg");
  background-position: center left;
  background-repeat: no-repeat;
}

.btn {
  color: white;
}

.btn-warning {
  background-color: #f07c22 !important;
  font-size: 30px;
  font-family: aclonica;
}
.btn-success, .btn-outline-success {
  font-size: 15px;
  font-family: aclonica;
}
.btn-danger {
  font-size: 15px;
  font-family: aclonica;
}

.general-title {
  height: 10em;
  position: relative;
}

.general-title p {
  margin: 0;
  position: absolute;
  font-size: 70px;
  color: crimson;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
