<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-center title welcome">
        ! Welcome to Scrummed !
      </h1>
      <h5 class="text-center title welcome-mobile">Scrummed</h5>
    </div>
  </div>
  <div class="row">
    <p class="col-12 text-center welcome-p mt-5">
      What would you like to do?
    </p>
    <p class="col-12 text-center welcome-p-mobile mt-5">
      Pick a choice
    </p>
  </div>
  <div class="row">
    <div class="col-6 text-right mt-5">
      <button type="button" class="btn btn-outline-success btn-lg btn-home" routerLink="/scrum-initialize">
        <span>Create a Scrum</span>
      </button>
      <button mat-fab class="btn-home-mobile" routerLink="/scrum-initialize">
        <mat-icon>control_point</mat-icon>
      </button>
    </div>
    <div class="col-6 text-left mt-5">
      <button type="button" class="btn btn-outline-success btn-home" (click)="openDialog()">
        <span>Join a Scrum</span>
      </button>
      <button mat-fab class="btn-home-mobile-left" (click)="openDialog()">
        <mat-icon>insert_link</mat-icon>
      </button>
    </div>
  </div>
</div>
