.title {
  font-family: "Aclonica";
  color: #f07c22;
  margin: 5%;
}

.welcome {
  font-size: 60px;
}

.welcome-p {
  color: #ffffea;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 7px 7px 10px #1ad1ff;
}

.welcome-mobile {
  font-size: 45px;
  display: none;
}

.welcome-p-mobile {
  color: #ffffea;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 7px 7px 10px #1ad1ff;
  display: none;
}

.btn-home a {
  text-decoration: none;
}

.btn-home-mobile {
  display: none;
}

.btn-home-mobile-left {
  display: none;
}

// Media Queries
@media (max-width: 550px) {
  .welcome {
    display: none;
  }

  .welcome-mobile {
    display: block;
  }

  .welcome-p {
    display: none;
  }

  .welcome-p-mobile {
    display: block;
  }

  .btn-home {
    display: none;
  }

  .btn-home-mobile {
    display: block;
    float: right;
    background-color: #28A702;
  }
  
  .btn-home-mobile-left {
    display: block;
    float: left;
    background-color: #28A702 !important;
  }
}
