<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-center title welcome">
        ! Welcome to Scrummed !
      </h1>
      <h5 class="text-center title welcome-mobile">Scrummed</h5>
    </div>
  </div>
  <div class="row">
    <p class="col-12 text-center welcome-p mt-5">
      What would you like to do?
    </p>
    <p class="col-12 text-center welcome-p-mobile mt-5">
      Pick a choice
    </p>
  </div>
  <div class="row">
    <div class="col-6 text-right mt-5">
      <button type="button" class="btn btn-outline-success btn-lg">Create a Scrum</button>
    </div>
    <div class="col-6 text-left mt-5">
      <button type="button" class="btn btn-outline-success">Join a Scrum</button>
    </div>
  </div>
</div>
